@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>NAKUPOVALNI LISTEK</h1>
    <p class="lead"><strong>Digitalni nakupovalni listek </strong>je pripomoček, ki nam olajša naš vsakdan!</p>
    <p><a href="https://localhost:44315/ToBuys" class="btn btn-primary btn-lg">Ustvari svoj seznam zdaj!</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enostavna uporaba</h2>
        <p>
            Uporaba digitalnega nakupovalnega listka je namenjena vsem saj je <strong>brezplačna</strong> in <strong>enostavna</strong>!
        </p>
        <p><a href="https://localhost:44315/ToBuys" class="btn btn-gumb-osnova">Registriraj se zdaj!</a></p>
    </div>
    <div class="col-md-4">
        <h2>Posodabljanje</h2>
        <p>
            Avtomatsko posodabljanje tabele ob dodajanju novih izdelkov.
        </p>
    </div> <div class="col-md-4">
        <h2>Funkcije</h2>
        <p>
            Dodatne funkcije : črtanje izdelka ko je označen kot kupljen, obarvanje izdelka ,...
        </p>
    </div>
</div>